@font-face {
    src: url(../fonts/PeyoRegular.ttf);
    font-family: peyo;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
    font: 18px Arial, sans-serif;
    background-color: #bfaf8b;
   
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 2em;
    color: #FFD78B;
    margin: 15% 0 15% 0;
}

a{
    text-decoration: none;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: auto;
	background: #FFE680;
}

.nav2{
    display: none;
}
nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: auto;
    line-height: 4em;
}

.menu a {
    font-family: peyo;
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 2%;
    line-height: 3em;
}


label {
    margin: 0 6% 0 0;
    font-size: 1.9em;
    line-height: 2em;
    display: none;
    width: 5%;
    float: right;
}
#toggle {
    display: none;
}


label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
   




/* Middle
-----------------------------------------------------------------------------*/
.content {
    font-family: peyo;
    margin: 0 auto;

   
}

article {
    color: white;
    line-height: 1.65;
    margin-bottom: 6%;
}


img{
    width: 100%;
}

.buts{
    text-align: center;
    padding: 0;
}


button {
    font-family: peyo;
    font-size: 1em;
    color: white;
    background-color: #E6B770;
    border-style: none;
    border-radius: 30px 30px 30px 30px;
    width: 80%;
    padding: 4%;
    padding-left: 9%;
    padding-right: 9%;
    margin: 3% auto 5% auto;
    cursor: pointer;

}

article{
    text-align: center;
}
/* Footer
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 450px){
    body{
        background-color: white;
    }
    .wrapper{
        background-color: white;
    }
    
    .content{
        width:87%;
        background-color: #bfaf8b;
    }
    
    img{
        width: 60%;
        margin: 0;
    }
    
    
    h1{
        font-size: 2.6em;
        padding: 0;
        margin: 0
    }
    article{
        margin-top: 10%;
        font-size: 1.3em;
    }
    }
 


@media only screen and (min-width: 500px) {
    
    .header{
        background-color: white;
    }
    
    .nav{
        display: none;
        height: auto;
    }
    
    .nav2{
        display:inline;
        text-align: right;
        width: 100%;
        background-color: white;
        font-size: 1.1em;
 
    }
    
    
    
    .nav2 ul li{
        display: inline;
    }

    
    .nav2 a{
        font-family: peyo;
        text-align: center;
        text-decoration: none;
        color: #a2a0a0;
        cursor: pointer;
    
        
    margin: 0 3%;
    line-height: 4em;
            
    }
    
    .nav2 a:active{
        color: #E6B770;
    }
    
   
    span{
        color: #E6B770;
    }

    
}

@media only screen and (min-width: 600px){
    
    .nav2{
        font-size: 1.3em;
 
    }
    .nav2 ul{
        margin-right: 4%;
    }
}


@media only screen and (min-width: 750px){
    
    .nav2 ul{
        margin-right: 9%;
    }
    h1{
        font-size: 2.9em;
        padding: 0;
        margin: 0
    }
    article{
        margin-top: 10%;
        font-size: 1.7em;
    }
    
    
    }


@media only screen and (min-width: 1024px){
    
      .nav2 a{
        
        
    margin: 0 2%;

            
    }
     .nav2 ul{
        margin-right: 4%;
    }
   

    img{
        width: 45%;
        clear: both;
    }
    h1{
        width: 50%;
        float: right;
        margin-top: 20%;
        margin-right: 5%;
        clear: both;
    }
  
    #freden, #vester{
        width: 50%;
        float: left;
        margin-bottom: 0
        
    }
   
    #email{
       text-align: center;
        font-size: 1.9em;
        color: white;
        margin-bottom: 5%;
    }
    
    
    .content {
       margin: 0 auto;
        
}
    
    
    
}

@media only screen and (min-width: 1225px){
.wrapper {
        width: 1225px;
        margin: 0 auto;
    }
      }
