@font-face {
    src: url(../fonts/PeyoRegular.ttf);
    font-family: peyo;
}

body {
    font: 20px peyo, sans-serif;
    background-color: #BFAF8B;
    border: solid #fff;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

main img {
    width: 100%;
    border-bottom: solid #fff;
    border-top: solid #fff;
}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: 40px;
    border-bottom: solid #fff;
    text-align: center;
}

/* Nav
-----------------------------------------------------------------------------*/

.bar-menu {
    width: 100%;
    background: #B9B9B9;
    height: 40px;
    
}

.navbar {
    height: 40px;
}

.navbar li {
    display: inline;
    height: auto;
    list-style: none;
    font-size: 1.2em;
}

.text a {
    padding: 5%;
    text-decoration: none;
    color: #fff;
    width: 45%;
}

.navbar img {
    height: 40px;
    vertical-align: middle;
    border-left: solid #fff;
    border-right: solid #fff;   
}

/* Middle
-----------------------------------------------------------------------------*/

section {
    margin: 6%;
}

article button {
    font-family: peyo;
    font-size: 1em;
    color: white;
    background-color: #E6B770;
    border-style: none;
    border-radius: 30px 30px 30px 30px;
    width: 40%;
    padding: 4%;
    padding-left: 9%;
    padding-right: 9%;
    margin: 3%;
}

.buts {
    display: block;
    text-align: center;
}

.cafemenu {
    margin-left: 29%;
}

p {
    color: white;
    line-height: 1.65;
    margin-bottom: 3%;
}

article li {
    color: white;
    line-height: 1.65;
}


#cafe {
    padding: 4%;
    list-style: circle;
}

#tlf {
    text-align: center;
}

#adress {
    text-align: center;
    color: #FFD78B;
}


#weekdays {
    float: left;
    padding-left: 13%;
}

#times {
    padding-left: 69%;
}

.dark {
    color: #FFD78B;
}


/* Headlines
-----------------------------------------------------------------------------*/
h1,
h2 {
    font-size: 2em;
    text-align: center;
    color: #FFD78B;
    margin-top: 7%;
    margin-bottom: 5%;
}

h3 {
    color: #FFD78B;
}
